extends layout

block content
    // Slide1
    section.slide1
      .wrap-slick1
        .slick1
          .item-slick1.item1-slick1(style='background-image: url(images/1920x570.jpg);')
            .wrap-content-slide1.sizefull.flex-col-c-m.p-l-15.p-r-15.p-t-150.p-b-170
              span.caption1-slide1.m-text1.t-center.animated.visible-false.m-b-15(data-appear='fadeInDown')
                | Beds and Bedding Collection 2019
              h2.caption2-slide1.xl-text1.t-center.animated.visible-false.m-b-37(data-appear='fadeInUp')
                | New arrivals
              .wrap-btn-slide1.w-size1.animated.visible-false(data-appear='zoomIn')
                // Button
                a.flex-c-m.size2.bo-rad-23.s-text2.bgwhite.hov1.trans-0-4(href='/products')
                  | Shop Now
          .item-slick1.item2-slick1(style='background-image: url(images/1920x570.jpg);')
            .wrap-content-slide1.sizefull.flex-col-c-m.p-l-15.p-r-15.p-t-150.p-b-170
              span.caption1-slide1.m-text1.t-center.animated.visible-false.m-b-15(data-appear='rollIn')
                | Beds and Bedding Collection 2019
              h2.caption2-slide1.xl-text1.t-center.animated.visible-false.m-b-37(data-appear='lightSpeedIn')
                | New arrivals
              .wrap-btn-slide1.w-size1.animated.visible-false(data-appear='slideInUp')
                // Button
                a.flex-c-m.size2.bo-rad-23.s-text2.bgwhite.hov1.trans-0-4(href='/products')
                  | Shop Now
          .item-slick1.item3-slick1(style='background-image: url(images/1920x570.jpg);')
            .wrap-content-slide1.sizefull.flex-col-c-m.p-l-15.p-r-15.p-t-150.p-b-170
              span.caption1-slide1.m-text1.t-center.animated.visible-false.m-b-15(data-appear='rotateInDownLeft')
                | Beds and Bedding Collection 2019
              h2.caption2-slide1.xl-text1.t-center.animated.visible-false.m-b-37(data-appear='rotateInUpRight')
                | New arrivals
              .wrap-btn-slide1.w-size1.animated.visible-false(data-appear='rotateIn')
                // Button
                a.flex-c-m.size2.bo-rad-23.s-text2.bgwhite.hov1.trans-0-4(href='/products')
                  | Shop Now
    // Banner
    section.banner.bgwhite.p-t-40.p-b-40
      .container
        .row
          .col-sm-10.col-md-8.col-lg-4.m-l-r-auto
            // block1
            .block1.hov-img-zoom.pos-relative.m-b-30
              img(src='images/720x932_1.jpg', alt='IMG-BENNER')
              .block1-wrapbtn.w-size2
                // Button
                a.flex-c-m.size2.m-text2.bg3.hov1.trans-0-4(href='#')
                  | Beds
            // block1
            .block1.hov-img-zoom.pos-relative.m-b-30
              img(src='images/720x660.jpg', alt='IMG-BENNER')
              .block1-wrapbtn.w-size2
                // Button
                a.flex-c-m.size2.m-text2.bg3.hov1.trans-0-4(href='#')
                  | Toys
          .col-sm-10.col-md-8.col-lg-4.m-l-r-auto
            // block1
            .block1.hov-img-zoom.pos-relative.m-b-30
              img(src='images/720x660.jpg', alt='IMG-BENNER')
              .block1-wrapbtn.w-size2
                // Button
                a.flex-c-m.size2.m-text2.bg3.hov1.trans-0-4(href='#')
                  | Crates
            // block1
            .block1.hov-img-zoom.pos-relative.m-b-30
              img(src='images/720x932.jpg', alt='IMG-BENNER')
              .block1-wrapbtn.w-size2
                // Button
                a.flex-c-m.size2.m-text2.bg3.hov1.trans-0-4(href='#')
                  | Apparel
          .col-sm-10.col-md-8.col-lg-4.m-l-r-auto
            // block1
            .block1.hov-img-zoom.pos-relative.m-b-30
              img(src='images/720x932.jpg', alt='IMG-BENNER')
              .block1-wrapbtn.w-size2
                // Button
                a.flex-c-m.size2.m-text2.bg3.hov1.trans-0-4(href='#')
                  | Bags
            // block2
            .block2.wrap-pic-w.pos-relative.m-b-30
              img(src='images/icons/bg-01.jpg', alt='IMG')
              .block2-content.sizefull.ab-t-l.flex-col-c-m
                h4.m-text4.t-center.w-size3.p-b-8
                  | Sign up & get 20% off
                p.t-center.w-size4
                  | Be the frist to know about the latest fashion news and get exclu-sive offers
                .w-size2.p-t-25
                  // Button
                  a.flex-c-m.size2.bg4.bo-rad-23.hov1.m-text3.trans-0-4(href='#')
                    | Sign Up
    // New Product
    section.newproduct.bgwhite.p-t-45.p-b-105
      .container
        .sec-title.p-b-60
          h3.m-text5.t-center
            | Featured Products
        // Slide2
        .wrap-slick2
          .slick2
            .item-slick2.p-l-15.p-r-15
              // Block2
              .block2
                .block2-img.wrap-pic-w.of-hidden.pos-relative.block2-labelnew
                  img(src='images/item-02.jpg', alt='IMG-PRODUCT')
                  .block2-overlay.trans-0-4
                    a.block2-btn-addwishlist.hov-pointer.trans-0-4(href='#')
                      i.icon-wishlist.icon_heart_alt(aria-hidden='true')
                      i.icon-wishlist.icon_heart.dis-none(aria-hidden='true')
                    .block2-btn-addcart.w-size1.trans-0-4
                      // Button
                      button.flex-c-m.size1.bg4.bo-rad-23.hov1.s-text1.trans-0-4
                        | Add to Cart
                .block2-txt.p-t-20
                  a.block2-name.dis-block.s-text3.p-b-5(href='#')
                    | Herschel supply co 25l
                  span.block2-price.m-text6.p-r-5
                    | $75.00
            .item-slick2.p-l-15.p-r-15
              // Block2
              .block2
                .block2-img.wrap-pic-w.of-hidden.pos-relative
                  img(src='images/item-03.jpg', alt='IMG-PRODUCT')
                  .block2-overlay.trans-0-4
                    a.block2-btn-addwishlist.hov-pointer.trans-0-4(href='#')
                      i.icon-wishlist.icon_heart_alt(aria-hidden='true')
                      i.icon-wishlist.icon_heart.dis-none(aria-hidden='true')
                    .block2-btn-addcart.w-size1.trans-0-4
                      // Button
                      button.flex-c-m.size1.bg4.bo-rad-23.hov1.s-text1.trans-0-4
                        | Add to Cart
                .block2-txt.p-t-20
                  a.block2-name.dis-block.s-text3.p-b-5(href='#')
                    | Denim jacket blue
                  span.block2-price.m-text6.p-r-5
                    | $92.50
            .item-slick2.p-l-15.p-r-15
              // Block2
              .block2
                .block2-img.wrap-pic-w.of-hidden.pos-relative
                  img(src='images/item-05.jpg', alt='IMG-PRODUCT')
                  .block2-overlay.trans-0-4
                    a.block2-btn-addwishlist.hov-pointer.trans-0-4(href='#')
                      i.icon-wishlist.icon_heart_alt(aria-hidden='true')
                      i.icon-wishlist.icon_heart.dis-none(aria-hidden='true')
                    .block2-btn-addcart.w-size1.trans-0-4
                      // Button
                      button.flex-c-m.size1.bg4.bo-rad-23.hov1.s-text1.trans-0-4
                        | Add to Cart
                .block2-txt.p-t-20
                  a.block2-name.dis-block.s-text3.p-b-5(href='#')
                    | Coach slim easton black
                  span.block2-price.m-text6.p-r-5
                    | $165.90
            .item-slick2.p-l-15.p-r-15
              // Block2
              .block2
                .block2-img.wrap-pic-w.of-hidden.pos-relative.block2-labelsale
                  img(src='images/item-07.jpg', alt='IMG-PRODUCT')
                  .block2-overlay.trans-0-4
                    a.block2-btn-addwishlist.hov-pointer.trans-0-4(href='#')
                      i.icon-wishlist.icon_heart_alt(aria-hidden='true')
                      i.icon-wishlist.icon_heart.dis-none(aria-hidden='true')
                    .block2-btn-addcart.w-size1.trans-0-4
                      // Button
                      button.flex-c-m.size1.bg4.bo-rad-23.hov1.s-text1.trans-0-4
                        | Add to Cart
                .block2-txt.p-t-20
                  a.block2-name.dis-block.s-text3.p-b-5(href='#')
                    | Frayed denim shorts
                  span.block2-oldprice.m-text7.p-r-5
                    | $29.50
                  span.block2-newprice.m-text8.p-r-5
                    | $15.90
            .item-slick2.p-l-15.p-r-15
              // Block2
              .block2
                .block2-img.wrap-pic-w.of-hidden.pos-relative.block2-labelnew
                  img(src='images/item-02.jpg', alt='IMG-PRODUCT')
                  .block2-overlay.trans-0-4
                    a.block2-btn-addwishlist.hov-pointer.trans-0-4(href='#')
                      i.icon-wishlist.icon_heart_alt(aria-hidden='true')
                      i.icon-wishlist.icon_heart.dis-none(aria-hidden='true')
                    .block2-btn-addcart.w-size1.trans-0-4
                      // Button
                      button.flex-c-m.size1.bg4.bo-rad-23.hov1.s-text1.trans-0-4
                        | Add to Cart
                .block2-txt.p-t-20
                  a.block2-name.dis-block.s-text3.p-b-5(href='#')
                    | Herschel supply co 25l
                  span.block2-price.m-text6.p-r-5
                    | $75.00
            .item-slick2.p-l-15.p-r-15
              // Block2
              .block2
                .block2-img.wrap-pic-w.of-hidden.pos-relative
                  img(src='images/item-03.jpg', alt='IMG-PRODUCT')
                  .block2-overlay.trans-0-4
                    a.block2-btn-addwishlist.hov-pointer.trans-0-4(href='#')
                      i.icon-wishlist.icon_heart_alt(aria-hidden='true')
                      i.icon-wishlist.icon_heart.dis-none(aria-hidden='true')
                    .block2-btn-addcart.w-size1.trans-0-4
                      // Button
                      button.flex-c-m.size1.bg4.bo-rad-23.hov1.s-text1.trans-0-4
                        | Add to Cart
                .block2-txt.p-t-20
                  a.block2-name.dis-block.s-text3.p-b-5(href='#')
                    | Denim jacket blue
                  span.block2-price.m-text6.p-r-5
                    | $92.50
            .item-slick2.p-l-15.p-r-15
              // Block2
              .block2
                .block2-img.wrap-pic-w.of-hidden.pos-relative
                  img(src='images/item-05.jpg', alt='IMG-PRODUCT')
                  .block2-overlay.trans-0-4
                    a.block2-btn-addwishlist.hov-pointer.trans-0-4(href='#')
                      i.icon-wishlist.icon_heart_alt(aria-hidden='true')
                      i.icon-wishlist.icon_heart.dis-none(aria-hidden='true')
                    .block2-btn-addcart.w-size1.trans-0-4
                      // Button
                      button.flex-c-m.size1.bg4.bo-rad-23.hov1.s-text1.trans-0-4
                        | Add to Cart
                .block2-txt.p-t-20
                  a.block2-name.dis-block.s-text3.p-b-5(href='#')
                    | Coach slim easton black
                  span.block2-price.m-text6.p-r-5
                    | $165.90
            .item-slick2.p-l-15.p-r-15
              // Block2
              .block2
                .block2-img.wrap-pic-w.of-hidden.pos-relative.block2-labelsale
                  img(src='images/item-07.jpg', alt='IMG-PRODUCT')
                  .block2-overlay.trans-0-4
                    a.block2-btn-addwishlist.hov-pointer.trans-0-4(href='#')
                      i.icon-wishlist.icon_heart_alt(aria-hidden='true')
                      i.icon-wishlist.icon_heart.dis-none(aria-hidden='true')
                    .block2-btn-addcart.w-size1.trans-0-4
                      // Button
                      button.flex-c-m.size1.bg4.bo-rad-23.hov1.s-text1.trans-0-4
                        | Add to Cart
                .block2-txt.p-t-20
                  a.block2-name.dis-block.s-text3.p-b-5(href='#')
                    | Frayed denim shorts
                  span.block2-oldprice.m-text7.p-r-5
                    | $29.50
                  span.block2-newprice.m-text8.p-r-5
                    | $15.90
    // Banner2
    section.banner2.bg5.p-t-55.p-b-55
      .container
        .row
          .col-sm-10.col-md-8.col-lg-6.m-l-r-auto.p-t-15.p-b-15
            .hov-img-zoom.pos-relative
              img(src='images/banner-08.jpg', alt='IMG-BANNER')
              .ab-t-l.sizefull.flex-col-c-m.p-l-15.p-r-15
                span.m-text9.p-t-45.fs-20-sm
                  | The Beauty
                h3.l-text1.fs-35-sm
                  | Lookbook
                a.s-text4.hov2.p-t-20(href='#')
                  | View Collection
          .col-sm-10.col-md-8.col-lg-6.m-l-r-auto.p-t-15.p-b-15
            .bgwhite.hov-img-zoom.pos-relative.p-b-20per-ssm
              img(src='images/shop-item-09.jpg', alt='IMG-BANNER')
              .ab-t-l.sizefull.flex-col-c-b.p-l-15.p-r-15.p-b-20
                .t-center
                  a.dis-block.s-text3.p-b-5(href='#')
                    | Gafas sol Hawkers one
                  span.block2-oldprice.m-text7.p-r-5
                    | $29.50
                  span.block2-newprice.m-text8
                    | $15.90
                .flex-c-m.p-t-44.p-t-30-xl
                  .flex-col-c-m.size3.bo1.m-l-5.m-r-5
                    span.m-text10.p-b-1.days
                      | 69
                    span.s-text5
                      | days
                  .flex-col-c-m.size3.bo1.m-l-5.m-r-5
                    span.m-text10.p-b-1.hours
                      | 04
                    span.s-text5
                      | hrs
                  .flex-col-c-m.size3.bo1.m-l-5.m-r-5
                    span.m-text10.p-b-1.minutes
                      | 32
                    span.s-text5
                      | mins
                  .flex-col-c-m.size3.bo1.m-l-5.m-r-5
                    span.m-text10.p-b-1.seconds
                      | 05
                    span.s-text5
                      | secs
    // Blog
    section.blog.bgwhite.p-t-94.p-b-65 
    // Shipping
    section.shipping.bgwhite.p-t-62.p-b-46
      .flex-w.p-l-15.p-r-15
        .flex-col-c.w-size5.p-l-15.p-r-15.p-t-16.p-b-15.respon1
          h4.m-text12.t-center
            | Free Delivery Worldwide
          a.s-text11.t-center(href='#')
            | Click here for more info
        .flex-col-c.w-size5.p-l-15.p-r-15.p-t-16.p-b-15.bo2.respon2
          h4.m-text12.t-center
            | 30 Days Return
          span.s-text11.t-center
            | Simply return it within 30 days for an exchange.
        .flex-col-c.w-size5.p-l-15.p-r-15.p-t-16.p-b-15.respon1
          h4.m-text12.t-center
            | Store Opening
          span.s-text11.t-center
            | Shop open from Monday to Sunday
    