doctype html
html
  head
    title= `Your Pet Castle`
    style
      include style.css
    link(rel="shortcut icon" type="image/png" href="")
    meta(name="viewport" content="width=device-width, initial-scale=1")
  body
    header.top
      nav.nav
        li
          a 
    .content
    block content

    block scripts
      script(src=``)